body {
   background-color: black;
}

.card-body {
    background-color: rgb(10, 56, 10);
    min-width: 200px;
}

.card-title {
    color: rgb(36, 126, 117);
}

.card-text {
    color: rgb(36, 126, 117);
}